
@page "/personsdata"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Persons</h1>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.Age</td>
                    <td><a href='/editperson/@person.Id'>Edit</a> </td>
                    <td><button @onclick="@(e=>@GoToDelete(person.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <button @onclick="@GoToAdd">Add Person</button>
}

@code {
    private Person[] persons;

    private string apiUrl = "http://localhost:5000/api/persons";
    protected override async Task OnInitializedAsync()
    {
        persons = await Http.GetJsonAsync<Person[]>(apiUrl);
    }

    private void GoToAdd()
    {
        NavigationManager.NavigateTo("/addperson");
    }

    private void GoToDelete(Guid id)
    {
        Http.DeleteAsync(apiUrl + "/" + id.ToString());
        NavigationManager.NavigateTo("/personsdata", true);
    }

    public class Person
    {
        public Guid Id { get; set; }

        public string FirstName { get; set; }

        public int Age { get; set; }
    }
}
